<ion-view view-title="Prestador">
  <ion-content >
  	
	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input ng-model="textoBuscar" type="text" placeholder="Search">
	  </label>
	</div> 

	<ion-list show-delete="shouldShowDelete"
	          show-reorder="shouldShowReorder"
	          can-swipe="listCanSwipe">
	  
	  <ion-item ng-repeat="item in listado | filter:textoBuscar:strict"
	            class="item-thumbnail-left">

	    <img ng-src="{{item.imagen}}">
	    <h2>{{item.email}}</h2>
	    <p>{{item.nombres}}</p>
	    <p>{{item.telefono}}</p>
	    <p>{{item.movil}}</p>
	    <ion-option-button class="button-positive"
	                       ng-click="irFechas(item)">
	      Solicitar cita
	    </ion-option-button>
	    
	    <ion-reorder-button class="ion-navicon"
	                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
	    </ion-reorder-button>

	  </ion-item>
	</ion-list>


  </ion-content>
</ion-view>


